h1{font-size: 100px;
text-align: center;
font-family: 'Open Sans', sans-serif;
color:rgb(175, 51, 22);}
nav{background-color:rgb(232, 200, 27);
text-align:center;
      font-size: 100px;
      overflow-x: hidden;
    padding-top:14px 16px;}
  p{text-align: center;
  font-size: 70px;
  font-family: 'Open Sans', sans-serif;
color:rgb(175, 51, 22);}
  img {margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 1300px;
  margin-left: 1000px;
  height:auto;
  width:50%;}
input{font-size: 90px;}
  #suppot{font-size: 80px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:rgb(175, 51, 22);}
div{background-color:rgb(232, 200, 27);}
